@(email:String,user:String,score:Integer)
@main("Round over"){
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Round over</title>
</head>
<body>
</br></br>
	<div class="text-center">
	<h1 class="text-primary">تَمَت الجولَة <p style="color: #FF0000">@user</p>
	<h3 class="text-success">النَتِيجة حَتى الَآن: @score</h3><br></h1>

	</div><br>

	
	<div class="row">
		  <div class="text-center">
		@helper.form(routes.Application.generateNewData(email)){
		<input class="btn btn-default" type="submit" value="اللّعب مَرة أُخرَى">
		</div>
		</div>

}
	




</body>
</html> 



}