@(email:String,user:String,score:Integer)
@main("Round over"){
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Round over</title>
</head>
<body>
	<div class="text-center">
	<h1 class="text-primary">Your round is now completed,<br>
	What would you like to do?</h1>
	</div><br><br>

	
	<div class="row">
		 <div class="span4">
		<div class="col-md-3">
		@helper.form(routes.Application.login()){
		<input class="btn btn-default" type="submit" value="Home">
			}
		</div>
		@helper.form(routes.Application.generateNewData(email)){
		<div class="col-md-3">
		<input class="btn btn-default" type="submit" value="Play gain">
		</div>
		</div>

}
	</div>




</body>
</html> 



}