@(email:String,user:String,score:Integer)
@main("Round over"){
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Round over</title>
</head>
<body>
	<div class="text-center">
	<h1 class="text-primary">Your round is now completed <p style="color: #FF0000">@user</p>
	<h3 class="text-success"> Your total score: @score</h3><br>
	What would you like to do?</h1>

	</div><br><br>

	
	<div class="row">
		  <div class="text-center">
		@helper.form(routes.Application.generateNewData(email)){
		<input class="btn btn-default" type="submit" value="Play gain">
		</div>
		</div>

}
	




</body>
</html> 



}