@(session_num:Integer, email: String, username:String, score: Integer, word: Integer, helpForm: Form[Words])

@main("User") {
<head>
	<title>Hinter</title>
     <script type="text/javascript">
    </script>
   
</head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
		
		<ul class="nav nav-pills nav-stacked">
		  <li class="active">
		    <a href="#">
		      <span class="badge pull-left">@score</span>
		       &nbsp;: عَدد النِقاَط
		    </a>
		  </li>
		</ul>

        </ul>
        <h3 class="text-primary">Hinter: @username</h3>
	  <h5><a href="@routes.Application.login()">Log Out</a></h5>
      </div>

      <div class="jumbotron">
        
        <h2>سَاعِد صَديقك في حَل لغز التَشكِيل </h2>
    <img src=" @routes.Assets.at(Words.find.byId(word).image_link)" alt="" width='100' height='50' class="img-rounded">

		<p>
        <p> <span class="badge">+5</span> <a class="btn btn-lg btn-info" href="#" role="button" data-toggle="modal" data-target="#myModal" disabled>أرسِل المُساعَده الأُولَى  </a></p>
        <p> <span class="badge">+10</span> <a class="btn btn-lg btn-warning" href="#" role="button" data-toggle="modal" data-target="#myModal2" id="help2" disabled>أرسِل المُساعَده الثَانِيه </a></p>
        <p> <span class="badge">+20</span> <a class="btn btn-lg btn-danger" href="#" role="button" data-toggle="modal" data-target="#myModal3" disabled>أرسِل المُساعَده الثَالِثه </a></p>

        <!-- Modal -->
      @helper.form(action = routes.Application.sendFirstHelp(session_num,email,username,score,word)) {
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">المُساعَده الأُولَى  </h3>
            </div>
            <div class="modal-body">
              <h3>إخْتَر العَلاماتِ التي سوفَ يَحتاجِها</h3>
            <div class="checkbox-inline">
            <div style="width:100px">
             @helper.input(helpForm("tanween_maksoor"), '_label -> "") { (id, name, value, args) =>
                <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option1" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel11.jpg")" alt="" class="img-rounded">
                </label>
              }
            </div>
            <div style="width:100px">
             @helper.input(helpForm("kasra"), '_label -> "") { (id, name, value, args) =>
                <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option2" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel22.jpg")" alt="" class="img-rounded">
                </label>
              }
              </div>
            </div>
              <div class="checkbox-inline">
            <div style="width:100px">
             @helper.input(helpForm("tanween_madmoom"), '_label -> "") { (id, name, value, args) =>
              <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option3" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel33.jpg")" alt="" class="img-rounded">
                </label>
              }
              </div>
            <div style="width:100px">
             @helper.input(helpForm("damma"), '_label -> "") { (id, name, value, args) =>
               <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option4" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel44.jpg")" alt="" class="img-rounded">
                </label>
              }
              </div>
            </div>
            <div class="checkbox-inline">
              <div style="width:100px">
             @helper.input(helpForm("tanween_maftoo7"), '_label -> "") { (id, name, value, args) =>
                <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option5" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel55.jpg")" alt="" class="img-rounded">
                </label>
              }
              </div>
            <div style="width:100px">
             @helper.input(helpForm("fat7a"), '_label -> "") { (id, name, value, args) =>
                <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option6" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel66.jpg")" alt="" class="img-rounded">
                </label>
              }
              </div>
            </div>
            <div class="checkbox-inline">
            <div style="width:100px">
             @helper.input(helpForm("sekon"), '_label -> "") { (id, name, value, args) =>
                <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option7" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel77.jpg")" alt="" class="img-rounded">
                </label>
              }
              </div>
            <div style="width:100px">
             @helper.input(helpForm("shadda"), '_label -> "") { (id, name, value, args) =>
                <label class="checkbox-inline">
                <input type="checkbox" class="form-control" value="option8" name="@name" id="@id" @toHtmlArgs(args)>
                <img src="@routes.Assets.at("images/tashkeel88.png")" alt="" class="img-rounded">
                </label>
              }
             </div> 
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">أرسِل </button>
            </div>
          </div>
        </div>
      </div>
      </div>
      }
        @helper.form(action = routes.Application.sendSecondHelp(session_num, email,username,score,word)) {
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">المُساعَده الثَانِيه </h3>
            </div>
            <div class="modal-body">
              <h3>إكتُبْ لِصَديِقَك عَدد العَلامَات المَطلُوبَة </h3>
              @helper.input(helpForm("noOfSigns"), '_label -> "") { (id, name, value, args) =>
                <input type="text" class="form-control" placeholder="" name="@name" id="@id" @toHtmlArgs(args)>
              }
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">أرسِل </button>
            </div>
          </div>
        </div>
      </div>
    }
      @helper.form(action = routes.Application.sendThirdHelp(session_num,email,username,score,word)) {
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">المُساعَده الثَالِثه </h3>
            </div>
            <div class="modal-body">
              <h3>Franco-إكْتُب الكَلِمهَ بِال</h3>
              @helper.input(helpForm("franco"), '_label -> "") { (id, name, value, args) =>
                <input type="text" class="form-control" placeholder="Franco Word" name="@name" id="@id" @toHtmlArgs(args)>
              }
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">أرسِل </button>
            </div>
          </div>
        </div>
      </div>
      }

      <div class="footer">
        <p>&copy; Crowdsourcing Slim 2014</p>
      </div>

    </div> <!-- /container -->
  </body>
}
